*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
    
}

.logo a {

    height: 50px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    
    

}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background: url(IMG/mina01.png) no-repeat center;
    background-size: cover;
}





.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.subtitle{
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 60;
    text-transform: uppercase;
    color: #b13636;
}
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}


.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}



.btn-neon{
    
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 3px;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #a954c7;
    box-shadow: 0 0 10px #a954c7, 0 0 40px
    #a954c7, 0 0 80px #a954c7;
    transition-delay: 0.5s;
}

.btn-neon span{
    position: absolute;
    display: block;

}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 200px;
    background: #1f1d1d
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}



.box-container .box h3 {

    
    font-size: 20px;
    color: #cf00f3;
    display: flex;
    padding: 30px;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;
}

.price {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }
    
    .subtitle{
        margin-bottom: 0;
        font-size: 40px;
    }


    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
  
    
}




.imgs{
    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
   

}